/* 
active 1 02 ~ 06 #0c0075, #0b1025
active 2 06 ~ 10 #1f58b6, #061737
active 3 10 ~ 14 #fab543, #6d3d03
active 4 14 ~ 18 #fa8c43, #242b10
active 5 18 ~ 22 #93ae36, #102b25
active 6 22 ~ 02 #20779c, #1f062d

font-family: 'Do Hyeon', sans-serif;
font-family: 'Sunflower', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

* {
  font-family: ‘SUIT’, sans-serif;
}

/********************** Global *********************/
.bg-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.bg-wrapper.active1 {
  background-image: linear-gradient(#0c0075, #0b1025);
}
.bg-wrapper.active2 {
  background-image: linear-gradient(#1f58b6, #6e3608);
}
.bg-wrapper.active3 {
  background-image: linear-gradient(#ffcb78, #ad4b0a);
}
.bg-wrapper.active4 {
  background-image: linear-gradient(#fa8c43, #242b10);
}
.bg-wrapper.active5 {
  background-image: linear-gradient(#3688ae, #102b25);
}
.bg-wrapper.active6 {
  background-image: linear-gradient(#0a2f69, #220433);
}
.bg-wrap {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0.3;
  color: #fff;
}
.bg-wrap.bg1 {
  top: 16px;
  right: 16px;
  width: 200px;
  height: 200px;
  font-size: 200px;
  opacity: 0.2;
}
.bg-wrap.bg2 {
  bottom: 80px;
  left: -120px;
  width: 250px;
  height: 250px;
  font-size: 250px;
  opacity: 0.1;
}
.bg-wrap.bg3 {
  bottom: -30px;
  right: -30px;
  width: 180px;
  height: 180px;
  font-size: 180px;
  opacity: 0.05;
}
.stage-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 10px solid pink;
}
.wrapper {
  position: relative;
  max-width: 1168px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 5px solid red;
}

/********************** Header *********************/
.header-wrapper {
  flex-grow: 0;
}
.header-wrapper h1.title {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3em;
  color: #fff;
  letter-spacing: 0.05em;
  margin: 1em 0 0.5em 0;
}
.header-wrapper h1.title > span {
  margin-right: 0.325em;
  opacity: 0.75;
}
.header-wrapper::after {
  display: block;
  content: '';
  width: 40px;
  height: 3px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
/*************** Container-wrapper ******************/
.container-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 1em 0;
}
/********************** Weather *********************/
.weather-wrapper {
  width: 49%;
  border: 5px solid rgb(255, 102, 0);
}
/************************ Map ************************/
.map-wrapper {
  position: relative;
  /* overflow: hidden; */
  width: 49%;
  height: 100%;
}
#map {
  border: 5px solid rgb(51, 255, 0);
  width: 100%;
  height: 100%;
}
.map-wrapper .co-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  color: #444;
  padding: 0.25em;
  border-radius: 0.25em;
}
/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
  .wrapper {
    width: calc(100% - 32px);
    margin: 0 16px;
  }
}

@media (max-width: 991px) {
  .weather-wrapper {
    width: 39%;
  }
  .map-wrapper {
    width: 59%;
  }
}

@media (max-width: 767px) {
  .bg-wrap.bg1 {
    top: 16px;
    right: 16px;
    width: 150px;
    font-size: 150px;
  }
  .bg-wrap.bg2 {
    bottom: 80px;
    left: -40px;
    width: 120px;
    font-size: 120px;
  }
  .bg-wrap.bg3 {
    bottom: -10px;
    right: 10%;
    width: 80px;
    font-size: 80px;
  }
  .header-wrapper h1.title {
    font-size: 2.5em;
  }
  .weather-wrapper {
    width: 100%;
  }
  .map-wrapper {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-wrapper h1.title {
    font-size: 1.75em;
  }
}
