/* 
active 1 02 ~ 06 #0c0075, #0b1025
active 2 06 ~ 10 #1f58b6, #061737
active 3 10 ~ 14 #fab543, #6d3d03
active 4 14 ~ 18 #fa8c43, #242b10
active 5 18 ~ 22 #93ae36, #102b25
active 6 22 ~ 02 #20779c, #1f062d

font-family: 'Do Hyeon', sans-serif;
font-family: 'Sunflower', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/********************** Global *********************/
.stage-wrapper {
}
.stage-wrapper.active {
}
.wrapper {
}

/********************** Header *********************/
/********************** Map *********************/
/********************** Weather *********************/

/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
